<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <title>Line API</title>
</head>

<body>
    <div class="container none">
        <div class="ejsImgObject">
            <%= object %>
        </div>
    </div>
</body>

</html>
<script>
    var doc = document.getElementsByTagName('body')[0];
    //画像オブジェクト
    var ejsImgObject = document.getElementsByClassName('ejsImgObject')[0];
    var imgObject = JSON.parse(ejsImgObject.innerHTML);
    var ObjectURL = "";
    for (let i in imgObject) {
        var result = new Uint8Array(imgObject[i].data);
        var blob = new Blob([result], { type: "image/jpeg" });
        var url = URL.createObjectURL(blob);
        ObjectURL += "<img src='" + url + "' class='objectImg'>";
    }
    doc.innerHTML += ObjectURL;
</script>