<body>
    <div id="binary" style="display: none" class="binary">
        <%= content %>
    </div>
</body>
<script>
    var doc = document.getElementById('binary');
    // バイナリ配列
    var json = JSON.parse(doc.innerHTML);
    var ary = [];
    for (var i in json) {
        ary.push(json[i]);
    }
    result = new Uint8Array(ary);
    const blob = new Blob([result], { type: "image/jpeg" });
    const url = URL.createObjectURL(blob);
    alert(url);
</script>